* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --size: min(1vw, 0.5vh);
  --left: calc(100% - var(--size) * 20);
  --top: calc(100% - var(--size) * 25);
  --top2: calc(100% - var(--size) * 40);
}

body,
html {
  padding: 0;
  margin: 0;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
  background: #5db779;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.button,
.field {
  background: white;
  border-radius: calc(var(--size) * 2);
  border: var(--size) solid white;
  padding: calc(var(--size) * 2);
  min-width: calc(var(--size) * 20);
  height: calc(var(--size)* 14);
  position: relative;
  font-size: calc(var(--size) * 6);
  transition: transform 400ms ease;
  transform: scale(1);
  color: currentColor;
}

.field {
  padding: calc(var(--size) * 2);
  display: flex;
  align-items: center;
  font-size: calc(var(--size)* 8);
  white-space: nowrap;
}

.input {
  border: 0;
  padding: 0 calc(var(--size) * 10) 0 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: calc(var(--size)* 8);
}

.button:disabled {
  opacity: 0.5;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  inset: var(--size);
  border: 1px solid #44F;
  border-radius: var(--size);
}

.button:before {
  content: '';
  display: block;
  position: absolute;
  inset: var(--size);
  border-radius: var(--size);
  opacity: 0.25;
  transition: background-color 400ms ease;
  background-color: transparent;
}

.button.selected,
.button:not(:disabled):active {
  transform: scale(1.2);
}

.button.selected:before,
.button:not(:disabled):active:before {
  background-color: red;
}